
body{
  width: 1440px;
  font-family: 'Fira Sans', sans-serif;
}
h1{
  font-weight: 900;
  font-size: 144px;
  line-height: 145px;
  color: #FFF;
  margin-left: 122px;
}
.start{
  height: 900px;
  background: #8CC084;
}
a{
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  color: #161616;
  opacity: .7;
}
a:nth-of-type(2){
  margin-left: 44px;
  margin-right: 44px;
}
.menu{
  padding: 56px 524px 172px 122px;
}
.fox p{
  font-size: 24px;
  line-height: 29px;
  color: #161616;
  font-weight: 0;
}
.fox{
  height: 363px;
}
.fox-img{
  width: 708px;
  height: 910px;
  position: absolute;
  left: 732px;
  top: 353px;
}
.fox-p{
  width: 670px;
  height: 176px;
  padding: 93px 648px 94px 122px;
}
.exp{
  height: 505px;
  background: #161616;
  color: #FFF;
}
.exp-text{
  padding: 135px 173px 0;
  color: #FFF;
}
.issled{
  color: #FFF;
  font-weight: bold;
  font-size: 48px;
  line-height: 102%;
}
.excm{
  font-size: 36px;
  line-height: 43px;
}
.exp .excm{
  color: #FFF;
  margin-top: 18px;
  width: 680px;
}
.shuba::before{
  content: "";
  position: absolute;
  width: 480px;
  height: 697px;
  left: 0px;
  top: 1768px;
  background: #E16543;
}
.shuba-text{
  color: #161616;
  padding: 240px 44px 241px 565px;
}
.ferma{
  width: 831px;
  height: 84px;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
}
.skura{
  margin-top: 2px;
  width: 728px;
  height: 130px;
  font-weight: bold;
  font-size: 72px;
  line-height: 65px;
}
.graph{
  width: 1443px;
  height: 974px;
  background: #8CC084;
}
.info{
  padding: 169px 432px 168px 125px;
  width: 886px;
  height: 111px;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}
.graph h2{
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  padding: 0 122px 0 125px;
}
.line{
  margin-top: 32px;
  padding-left: 125px;
  padding-right: 122px;
}
.rectangle1{
  width: 1196px;
  height: 19px;
  background: #E16543;
}
.rectangle2{
  width: 1196px;
  height: 19px;
  background: #FFF;
  opacity: 0.34;
}
.rectangle-bg{
  top: 3183px;
  position: absolute;
  width: 2px;
  height: 19px;
  background: #E16543;
}
.line-h{
  font-weight: normal;
  font-size: 24px;
  height: 29px;
  margin-bottom: 19px;
}
.line-sub{
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  margin-top: 19px;
}
.trut-img{
  position: absolute;
  left: 41px;
  top: 3385px;
}
.trut{
  width: 645px;
  height: 115px;
  font-size: 24px;
  line-height: 29px;
  padding: 163px 36px 162px 759px;
}
.timeline{
  display: grid;
  width: 608px;
  height: 1155px;
  align-content: center;
  right: 0px;
  float: right;
}
.data{
  display: flex;
  margin-left: 68px;
   z-index: 2;
}
.round{
  margin-top: 26px;
  margin-left: 12px;
  margin-right: 12px;
  width: 52px;
  height: 52px;
  background: #8CC084;
  border-radius: 100%;
}
h3{
  margin-top: 35px;
  width: 74px;
  left: 900px;
  top: 4058px;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
}
.data p{
  margin-top: 40px;
  width: 351px;
  font-size: 24px;
  line-height: 29px;
}
.time-line{
  position: absolute;
  margin-left: 171px;
  margin-top: 0;
  width: 20px;
  height: 1155px;
  background: #161616;
  z-index: 1;
}
.year-end{
  background: #8CC084;
  width: 832px;
  height: 1155px;
  float: left;
}
.year-end p{
  margin: 776px 189px 215px 190px;
  width: 453px;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
}
.povedenie{
  width: 832px;
height: 663px;
background: #E16543;
display: flex;
float: right;
}
.povedenie p{
width: 643px;
height: 132px;
font-weight: 500;
font-size: 36px;
line-height: 43px;
color: #FFFFFF;
margin: 266px 95px 265px 95px;
}
.itog{
  display: flex;
  width: 1440px;
  height: 605px;
  background: #161616;
  color: #FFF;
}
.itog h2{
  margin: 130px 973px 0 122px;
  width: 345px;
  font-weight: 900;
  font-size: 96px;
  line-height: 115px;
  color: #FFFFFF;
}
.itog p{
  margin: 44px 365px 129px 122px;
  width: 953px;
  height: 187px;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
}
